
$color-one: rgb(233, 212, 96);
$color-two: white;
$color-three: rgb(120, 87, 25);
$color-four: rgb(210, 161, 71);





.sideNav__container{
    background-color: $color-four;
  border: 2px solid $color-three;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}

.sideNav__searchBar{
  margin: 5px;
   display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 19px;
  color: $color-three;
}

.sideNav__filters{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

   
}

